################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/FileContentIndex
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/v17/.suo
/ProjetTestHelloW/.vs/ProjetTestHelloW/FileContentIndex
/M02TP01/BatailleCorseApp/.vs/BatailleCorseApp
/M02TP01/BatailleCorseApp/BatailleCorseApp/obj/Debug/net8.0
/M03TP01/.vs/TpLinq/v17/.suo
/M03TP01/.vs/slnx.sqlite
/M03TP01/.vs/TpLinq/FileContentIndex/8fcbb5a2-67dc-4e66-a195-72de384ebb6b.vsidx
/M03TP01/.vs/M03TP01/v17/.wsuo
/M03TP01/.vs/TpLinq/FileContentIndex
/M03TP01/.vs/TpLinq/DesignTimeBuild/.dtbcache.v2
/MyFirstMVC/WebApplication1/.vs/WebApplication1
/MyFirstMVC/WebApplication1/WebApplication1/bin/Debug/net8.0
*.vsidx
*.suo
/MyFirstMVC/MyFirstMVC/.vs/ProjectEvaluation/myfirstmvc.metadata.v7.bin
/MyFirstMVC/MyFirstMVC/.vs/ProjectEvaluation/myfirstmvc.projects.v7.bin
*.v2
/M03TP01/.vs/ProjectEvaluation
/M03TP01/.vs/VSWorkspaceState.json
/MyFirstMVC/WebApplication1/.vs/ProjectEvaluation
/M04TP01/.vs/EscapeGame/v17
/M04TP01/.vs/EscapeGame/config
/M04TP01/.vs/ProjectEvaluation
/MyFirstMVC/Module05-Razor/Module05-Razor/bin/Debug/net6.0
/MyFirstMVC/Module05-Razor/.vs/Module05-Razor/config
