################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/FileContentIndex
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/v17/.suo
/ProjetTestHelloW/.vs/ProjetTestHelloW/FileContentIndex
/M02TP01/BatailleCorseApp/.vs/BatailleCorseApp
/M02TP01/BatailleCorseApp/BatailleCorseApp/obj/Debug/net8.0
/M03TP01/.vs/TpLinq/v17/.suo
/M03TP01/.vs/slnx.sqlite
/M03TP01/.vs/TpLinq/FileContentIndex/8fcbb5a2-67dc-4e66-a195-72de384ebb6b.vsidx
/M03TP01/.vs/M03TP01/v17/.wsuo
/M03TP01/.vs/TpLinq/FileContentIndex
/M03TP01/.vs/TpLinq/DesignTimeBuild/.dtbcache.v2
/MyFirstMVC/WebApplication1/.vs/WebApplication1
/MyFirstMVC/WebApplication1/WebApplication1/bin/Debug/net8.0
*.vsidx
*.suo
/MyFirstMVC/MyFirstMVC/.vs/ProjectEvaluation/myfirstmvc.metadata.v7.bin
/MyFirstMVC/MyFirstMVC/.vs/ProjectEvaluation/myfirstmvc.projects.v7.bin
*.v2
/M03TP01/.vs/ProjectEvaluation
/M03TP01/.vs/VSWorkspaceState.json
/MyFirstMVC/WebApplication1/.vs/ProjectEvaluation
/M04TP01/.vs/EscapeGame/v17
/M04TP01/.vs/EscapeGame/config
/M04TP01/.vs/ProjectEvaluation
/M04TP01/EscapeGame/bin/Debug/net6.0
/M04TP01/EscapeGame/obj/Debug/net6.0/EscapeGame.csproj.AssemblyReference.cache
/M04TP01/EscapeGame/obj/Debug/net6.0/EscapeGame.csproj.CopyComplete
/M05TP01/TpChats/.vs
/M05TP01/TpChats/TpChats/bin/Debug/net6.0
/MyFirstMVC/Module05-Razor/.vs
/MyFirstMVC/Module05-Razor/Module05-Razor/bin/Debug/net6.0
/MyFirstMVC/Module05-Razor/Module05-Razor/obj/Debug/net6.0/ref
/MyFirstMVC/Module05-Razor/Module05-Razor/obj/Debug/net6.0/refint
/MyFirstMVC/Module05-Razor/Module05-Razor/obj/Debug/net6.0/scopedcss
/MyFirstMVC/Module05-Razor/Module05-Razor/obj/Debug/net6.0/staticwebassets
/MyFirstMVC/Module05-Razor/Module05-Razor/obj/Debug/net6.0
/MyFirstMVC/MyFirstMVC/MyFirstMVC/obj/Debug/net8.0/project.razor.vs.bin
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/ref
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/refint
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/scopedcss
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/staticwebassets
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/apphost.exe
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/staticwebassets.build.json
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/staticwebassets.development.json
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/staticwebassets.pack.json
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.AssemblyInfo.cs
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.AssemblyInfoInputs.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.assets.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.csproj.AssemblyReference.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.csproj.BuildWithSkipAnalyzers
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.csproj.CopyComplete
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.csproj.CoreCompileInputs.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.csproj.FileListAbsolute.txt
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.dll
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.GeneratedMSBuildEditorConfig.editorconfig
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.genruntimeconfig.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.MvcApplicationPartsAssemblyInfo.cache
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.pdb
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/TpChats.sourcelink.json
/M05TP02/TpPizza/TpPizza/BO/bin/Debug/net6.0
/M05TP02/TpPizza/TpPizza/BO/obj
/M05TP02/TpPizza/TpPizza/obj
/M05TP01/TpChats/TpChats/obj/Debug/net6.0/project.razor.vs.bin
