################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/FileContentIndex
/M02TP01/Consignes-Bases-du-Langage/.vs/Consignes-Bases-du-Langage/v17/.suo
/ProjetTestHelloW/.vs/ProjetTestHelloW/FileContentIndex
