@model TpPizza.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="_Details_Pizza"/>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
