@{
    TempData["lettre"] = 'A';
    TempData["pos"]=1;
}
<div class="text-center">
    <h1 class="display-4">Début</h1>
    <p>
        Bienvenue dans cet escape game !<br />
        Il faut modifier ou créer des contrôleurs dans ce projet pour pouvoir avancer jusqu'à obtenir le mot de code final ! À chaque étape, vous collectez une nouvelle lettre.
    </p>
    <p>Pour aller sur la page suivante, il faut utiliser ce lien : <a asp-controller="Home" asp-action="Suite">La suite</a></p>
</div>