<h1>La seconde page !</h1>
<p>
    Bravo ! Vous avez réussi à accéder à la seconde page !
    Pour la suite, c'est par <a asp-controller="Machin" asp-action="Truc">ici</a>.
</p>
@{TempData["lettre"]='S';}