<h1>Okay, good !</h1>
<p>
    L'aventure continue !
    Pour la prochaine action que vous allez créer, il faut qu'elle contienne le code suivant :
    <code>
<pre>ViewBag.Id = id;
return View();
</pre>
    </code>
    Et c'est par là qu'il faut aller : <a href="/Machin/Bidule/42687">La suite</a>
</p>
@{TempData["lettre"]='.';}