@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvellu !!</h1>
    <p>Cliques ici: <a href="https://devtoys.app/">Ouhhh Tu es un aventurier, toi !!</a>.</p>
    <img src="C:\Users\trequier2023\source\repos\ENI-Projects\MyFirstMVC\WebApplication1\WebApplication1\wwwroot\img\Bud.jpg" alt="Buddy"/>
</div>
