@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvellu !!</h1>
    <p>Cliques ici: <a href="https://devtoys.app/">Ouhhh Tu es un aventurier, toi !!</a>.</p>
    <img src="https://wearline.co/wp-content/uploads/2020/11/zinzin-de-lespace-300x300.png" alt="Buddy" />
</div>
