<h1>Outstanding!</h1>
<p>Il faut que votre prochaine action possède le code suivant :</p>
<pre><code class="lang-csharp">public IActionResult Fin(int v1, int v2) {
    ViewBag.Valeur = v1 * v2;
    return View();
}</code></pre>
<p>Par <a href="/A/21/B/23/C">ici</a> !</p>
@{TempData["lettre"] = "e";}