<h1>Ok, vous êtes sur la bonne voie...</h1>
<p>
    Comme vous avez bien compris, nous allons compliquer un peu les choses (mais pas trop !)...
    <a href="/Machin">Par ici pour continuer !</a>
</p>
@{TempData["lettre"]='P';}