html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.lettre::before{
    content: "Lettre : ";
    font-size: 3rem;
}

.lettre {
  font-size: 20em;
}