@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur SortieApp !!</h1>
    <p>L'application qui va défourailler du Slip !!!!'</a>.</p>
</div>
