<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex flex-row w-100">
      <ul class="navbar-nav flex-row me-auto mb-auto mt-auto">
        <li class="nav-item" [ngSwitch]="role.id">
          <a *ngSwitchCase="4"
             class="btn btn-info text-light me-2 navbar-userRole-button"
             routerLink="/dashboard" title="Mode {{role?.name | titlecase}}">
            <strong>{{user?.username | titlecase }}</strong>
          </a>
          <a *ngSwitchCase="3"
             class="btn btn-secondary text-light me-2 navbar-userRole-button"
             routerLink="/dashboard" title="Mode {{role?.name | titlecase}}">
            <strong>{{user?.username | titlecase }}</strong>
          </a>
          <a *ngSwitchCase="2"
             class="btn btn-warning text-light me-2 navbar-userRole-button"
             routerLink="/dashboard" title="Mode {{role?.name | titlecase}}">
            <strong>{{user?.username | titlecase }}</strong>
          </a>
          <a *ngSwitchDefault
             class="btn btn-success text-light me-2 navbar-userRole-button"
             routerLink="/dashboard" title="Mode {{role?.name | titlecase}}">
            <strong>{{user?.username | titlecase }}</strong>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row justify-content-end" *ngIf="isLoggedIn">
        <!--<li *ngIf="criticalBugs().length > 0 && role.id > 1" class="nav-item mt-auto mb-auto">
          <a href="" class="btn btn-danger" [routerLink]="['/bugs']" [queryParams]="{criticality:4}">
            {{criticalBugs().length + " bug" + (criticalBugs().length > 1 ? "s critiques" : " critique")}}
          </a>
        </li>
        <li *ngIf="expiredFeatures().length > 0 && role.id > 1" class="nav-item mt-auto mb-auto ms-2">
          <a href="" class="btn btn-danger" [routerLink]="['/features']" [queryParams]="{id:getQuery()}">
            {{expiredFeatures().length + " fonctionnalité" + (expiredFeatures().length > 1 ? "s périmées" : " périmée")}}
          </a>
        </li>-->
        <li class="nav-item mt-auto mb-auto">
          <a href class="nav-link" (click)="logout()">Déconnexion</a>
        </li>
        <li *ngIf="role.id >= 3" class="nav-item mt-auto mb-auto">
          <a class="nav-link" routerLink="/adminParams">Paramètres</a>
        </li>
        <button type="button" class="btn btn-primary" id="navbar-user-details" (click)="openModal(template)">
          {{user.firstname[0]}}{{user.lastname[0]}}
        </button>
      </ul>
    </div>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Profil</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid m-0 p-0 d-flex flex-wrap flex-row justify-content-between">
      <div class="col-3 user-select-none" id="big-user-avatar">{{user.firstname[0]}}{{user.lastname[0]}}</div>
      <div class="col-9 d-flex flex-wrap align-content-between">
        <div class="col-12">
          <div>{{user.firstname}} {{user.lastname}}</div>
          <div>{{user.email}}</div>
          <div><a routerLink="/userParams" (click)="closeModal()">Paramètres</a></div>
        </div>
        <div class="ms-auto text-end" (click)="logout()" ><a routerLink="/login">Déconnexion</a></div>
      </div>
    </div>
  </div>
</ng-template>
