@{
    ViewData["Title"] = "Police, You are Hacked !!! xoxo";
}
<h1>@ViewData["Title"]</h1>
<img src="https://gulfsouthtech.com/wp-content/uploads/2022/03/signs-that-youve-been-hacked.jpeg" />

<p>Ah là là, tu as plus qu'à redémarrer ton ordi !!'.</p>
