<h1 id="tableLabel">Liste des Participants</h1>

<p>Ce composant affiche la liste des Participants.</p>

<p *ngIf="!participants"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="participants">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>RoleId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let participant of participants">
            <td>{{ participant.nom }}</td>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.mail }}</td>
            <td>{{ participant.roleid }}</td>
        </tr>
    </tbody>
</table>
