<div *ngIf="!initiated && isLoggedIn" class="d-flex justify-content-center align-items-center vh-100">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="initiated || !isLoggedIn">
  <div *ngIf="router.url === '/' || router.url === '/login' || router.url === '/register'; then userpage else fullpage">
  </div>

  <ng-template #fullpage>
    <div *ngIf="initiated">
      <app-navbar></app-navbar>
      <div class="container-fluid d-flex justify-content-start">
        <!--<app-sidebar class="sidebar" [role]="role"></app-sidebar>-->
        <div class="container-fluid align-content-start flex-grow-1 pe-0 mb-0">
          <app-path *ngIf="showPath()" class="container-fluid p-0"></app-path>
          <div class="mt-2"><router-outlet></router-outlet></div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #userpage>
    <router-outlet></router-outlet>
  </ng-template>
</div>
